---
const { title } = Astro.props
---

<header id="header">
  <h1>{title}</h1>
  <nav>
    <ul>
      <li>
        <a href="https://info.diegoygaby.com">Regresar a sitio</a>
      </li>
    </ul>
  </nav>
</header>
